<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Hello, Conduit!</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="description" content="Conduit Application" />
    <link rel="stylesheet" type="text/css" href="/dist/css/awsm.min.css">
</head>
<body>
    <main>
      <h1>{{ name }}</h1>
      <p>You are currently {% if not user.loggedIn %}not {% endif %}logged in.</p>
    {% if user.loggedIn %}
<p><a href="/logout">Logout</a></p>
{% else %}
<p><a href="/login">Login</a></p>
{% endif %}
    </main>
</body>
</html>
