<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Hello, Conduit!</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="description" content="Conduit Application" />
    <link rel="stylesheet" type="text/css" href="/dist/css/awsm.min.css">
</head>
<body>
    <main>
    <p>Login</p>
    <form action="/login" method="POST">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <input type="submit" value="Login">
    </form>
    </main>
</body>
</html>
